body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image img {
  height: 50vh;
  width: 20vw;
}

.client-area {
  display: flex;
  justify-content: space-between;
}

.services-log {
  border: 1px solid beige;
  width:50vw;
  padding: 3vh;
  background-color: beige;
  border-radius: 10px;
  margin-right: 2vw;

}

.logs {
  border: 1px solid beige;
  background-color: white;
  border-radius: 0 50px;
  margin-top: 2vh;
  margin-bottom: 3vh;
  padding-top: 2vh;
  padding-bottom: 1vh;
}

.logs ul li {
  list-style: none;
  font-size: 15px;
}

.logs span {
  color: orangered;
}

.logs button {
  color:  white;
  background-color: orangered;
  border-radius: 0 10px;
  border: none;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-right: 2vw;
  margin-top: 1vh;
  font-size: small;
}

.card-2 img {
  height: 100px;
  width: 100px;
  margin-top: 20px;
  margin-left: 5px;
  float: left;
  padding: 0 20px 20px 0;
}

.card-2 {
  display: flex;
  flex-direction: row;
}

.card-2 span {
  color: orangered;
  list-style: none;
}

.overflow {
  height: 150vh;
  overflow-y: scroll;
}

.loginpage {
  border: 1px solid grey;
  width: 50vw;
  margin: auto;
  margin-top: 20vh;
  margin-bottom: 20vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  border-radius: 50px;
  background-color: #552607ab;
}

/* .logout {
  /* border: 1px solid red; */
  /* background-color: orangered; */
  /* padding: 5px;
  border-radius: 10px; */
/* } */ 

.dashboard {
  margin-bottom: 10vh;
}