.footer{


    background-color: #4b2004a1;
    min-height: 200px;
    color:whitesmoke

}
.spex{
    color:white
}

.sec1{
    color:white;
    display:flex;
    justify-content: space-between;
}
.bodr{
    border-radius: 35px;
    padding: 8px;
    width:220px;
    height:210px;
    margin-left:30px;
}
.title, .title2{
    margin: bottom -200px;
    color:aqua;
    margin-right:19px;
}
.sec2{
    float:right;
    margin-right:140px;
       
}
.sec2 ul li, .sec3 ul li{
    list-style: none;
    margin-left: -25px;
}

li a:hover {
    background-color: whitesmoke;
  }
.fra{
color:orange;
margin-left:35px;
}
.social{
   margin-left: 2px;
   /* display: "flex";
   justify-content:"flex-end"; */
}
.copy{
    float:right
}